header h1, main {
    font-family: 'Poppins', sans-serif;
}

header h1:hover {
    cursor: default;
}

.cabecalho {
    background-color: rgb(40, 40, 172);
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    align-items: flex-end;
}

.cabecalho img {
    width: 20%;
    opacity: 40%;
}

.cabecalho h1 {
    color: white;
    font-size: 6em;
    width: 50%;
    font-weight: bold;
}

.rodape {
    background-color: rgb(40, 40, 172);
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding: 2em;
    margin-top: 2em;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 70em;
    margin: 0 auto;
    justify-content: space-evenly;
}

.conteudos {
    margin-bottom: 2.3em;
    width: 45%;
    padding: 20px;
    transition: .4s;
}

.titulo {
    font-size: 55px;
    margin-left: .2em;
    margin-bottom: .2em;
}

.contato span {
    padding: .2em;
    font-size: 1.2em;
    display: block;
}

.perfil p, .itens-habilidades {
    font-size: 1.5em;
}

.itens-habilidades {
    padding: .4em;
}

.itens-habilidades:before, .itens-experiencia:before {
    content: "•";
    margin-right: .2em;
}

.cargo {
    font-weight: bold;
    font-size: 1.7em;
    padding: .3em;
}

.empresa {
    font-size: 1.5em;
    padding: .2em;
}

.itens-experiencia {
    font-size: 1.4em;
    padding: .2em;
}

.experiencia div {
    width: 100%;
}

.experiencia ul {
    margin: 20px 0;
}

.formacao h3 {
    font-size: 1.1em;
    font-weight: bold;  
    padding: 5px;
}

.formacao p {
    font-size: 1.7em;
    margin-bottom: 10px ;
}

.conteudos:hover {
    transform: scale(1.05);
    border-radius: 30px;
    background: #e9e8e8;
    box-shadow:  14px 14px 25px #777777, -5px -5px 25px #ffffff;
    cursor: default;
}

@media screen and (max-width: 900px) {
    .conteudo {
        height: auto;
    }

    .conteudos {
        width: 85%;
        margin: 0 auto;
    }

    .titulo {
        text-align: center;
        padding: 0;
        margin: 0 0 .2em 0;
    }

    .perfil {
        text-align: center;
    }

    .cabecalho h1 {
        font-size: 2.2em;
    }

    .cabecalho, .rodape {
        width: auto;
    }
}